
.comparison-images-slider__images-block {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 3px yellow solid;
  position: relative;
  overflow: hidden;
}

.comparison-images-slider__comparison-img,
.comparison-images-slider__alpha-img {
  width: 100%;
  height: 100%;
  display: block;
  background-color: green;
}

.comparison-images-slider__comparison-img {
  background-color: red;
}

.comparison-images-slider__comparison-img-wrapper {
  border-right: 2px #30597b solid;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.comparison-images-slider__range-block {
	align-items: center;
	display: flex;
	height: 32px;
}

.comparison-images-slider__range-left {
  width: 50%;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.3);
}

.comparison-images-slider__range-circle {
	height: 32px;
	width: 32px;
	border-radius: 50%;
  border: none;

	background-color: rgba(0, 0, 0, 0.3);
}

.comparison-images-slider__range-right {
	flex: 1;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.3);
}
